#ColorBody
{
  background-color:#836857;
}
#ColorBody2
{
  background-color:#F1E8D9;
}
#ColorBody3{
  background-color: #836857;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}
h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #F1E8D9;
}
h3{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #F1E8D9;
}
p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #F1E8D9;
}
.ColorRedes i {
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
  }
.ColorRedes i:hover {
    color: #7a7a7a; /* Cambia el color a naranja al hacer hover */
    transform: scale(1.3); /* Aumenta ligeramente el tamaño del ícono */
  }
  
.btn-close {
    filter: brightness(0) invert(1); /* Cambia el icono a blanco */
}
#LineaRedes {
    border-right: 1px solid #ffffff ;
  }
.LineaFoot{
  border-top: 1px solid white;
}
#MenuEnlaces .nav-link{

    color: #ffffff;
    transition: color 0.3s ease;

}
#MenuEnlaces .nav-link:hover {
    
    color: #7a7a7a; /* Cambia a color naranja al pasar el mouse */
    text-decoration: none
}
#offcanvasMenu{

  background-color: #836857; /* Color naranja */
  

}
/* Sección de inicio Imagen Grande */
.Fondo
{
  background-image: url(/Img/imgPrincipal.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 65vh;
 

}
.ImgMouse{
  filter: sepia(90%) contrast(120%) brightness(75%);
  transition: filter 0.2s ease;

}
.ImgMouse:hover {
  filter: sepia(0%);
}
.text-overlay {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1; 
}
/*SECCION RESPONSIVE INCIAL */

.Vincial{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}
/*SECCION RESPONSIVE INCIAL */
@media (max-width: 768px) {
  .Fondo {
    height: 60vh; /* Reduce la altura en dispositivos pequeños */
  }
  .Vinicial h1 {
    font-size: 1.8rem; /* Ajusta el tamaño de la fuente en móviles */
  }
  .Vinicial p {
    font-size: 1rem; /* Ajusta el tamaño del párrafo en móviles */
  }
}
@media (max-width: 1200px) {
  .Vinicial h1 {
    font-size: 2.5rem; /* Ajusta en tabletas */
  }
}
/*SECCION DOOS */

.proyectoImg{
  width: 55%;
  max-width: 150px;
  margin: 10px auto;
}
/*SECCION DOOS Responsive Texto */
.txtSectionDos{
  font-size: 1.8rem;
}

.txtH3Dos{
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .txtSectionDos {
    font-size: 4rem; /* Tamaño para tabletas */
  }
}

@media (min-width: 1200px) {
  .txtSectionDos {
    font-size: 4rem; /* Tamaño para computadoras */
  }
}
/*SECCION Testimonios */
.tituloTres{
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .tituloTres {
    font-size: 4rem; /* Tamaño para tabletas */
  }
}

@media (min-width: 1200px) {
  .tituloTres {
    font-size: 4rem; /* Tamaño para computadoras */
  }
}


.txtSectionTres{
  font-size: 1.2rem;
}
.parrafoTres{
  font-size: 0.8rem;

}

.FondoDleon{
  position: absolute;
  top: auto;
  left: 0%;
  width: 300px;
  z-index: -1;

}
.Dleon-img{
  overflow: hidden;

}
.FondoDleonDos{
  position: absolute;
  top: auto;
  right:  0%;
  width: 400px;
  z-index: -1;

}
.imgGrande{

  width: 750px;


}

/*SECCION Data Viz */

.txtSectionData{
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .txtSectionData {
    font-size: 4rem; /* Tamaño para tabletas */
  }
}

@media (min-width: 1200px) {
  .txtSectionData {
    font-size: 5rem; /* Tamaño para computadoras */
  }
}
.imgData{

  width: 80vh;
  margin-bottom: 25px;

}

/*SECCION PERIODISTAS*/
.margenSection{

  margin-top: 10%;

}
.txtSectionPeriodistas{
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .txtSectionPeriodistas {
    font-size: 4rem; /* Tamaño para tabletas */
  }
}

@media (min-width: 1200px) {
  .txtSectionPeriodistas {
    font-size: 5rem; /* Tamaño para computadoras */
  }
}
.CuadroP{
  color: #BFC4B2;
}

/*SECCION SUMAR*/
.imSemilla{
  width: 45vh;
}
.imgSemillaDos{
  width: auto;
}

/*PAGINASTESTIMONIOS*/
.FondoTestimonios{

  background-image: url(/Img/rectangulo.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 65vh

}

.ColorTestimonio{
  background-color: #A69181;
  height: 55vh;
}
.margentestimonial{
  margin-top: 10%;

}

.ObjetoImg{

  width: 83vh;
  height: 48vh;
}




/*SECCION PRENSA */
.imgComitas {
  align-items: center; /* Centra horizontalmente */
}
.tarjeta{
  background-color: #ffffff00;
  

  
}
.lineaPrensa{
  border-bottom: 2px solid #ffffff;
  width: 10%;
}
.lineaTarjeta{
  border: 1px solid #A69181;
  width: 95%;
  
}
#btnTarjetas{
  margin-bottom: 25%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #A69181;
  color: #A69181 ;
}
#btnTarjetas:hover{
  margin-bottom: 25%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #d3b297;
  color: #d3b297 ;
}

/*SECCION CREDITOS */
.margenCreditos{
  margin-top: 10%;
  margin-bottom: 10%;
}
#contentColaboradores p{
  color: black;
}

#contentCreditos p{
  color: black;
}
#contentAgradecimientos p{
  color: black;
}
#btnColaboradores{
  border: none;
  color: #836857;
  background-color: rgba(255, 0, 0, 0);
  font-size: 28px;
}
#btnColaboradores:hover{
  color: #382d27;
}

#btnColaboradores:hover,
#btnColaboradores:focus, /* Aplica el estilo al botón cuando está seleccionado */
.active-button {
  color: #382d27; 
}
/* ACTIVAR CUANDO SE SELECCIONE */
#btnCreditos{
  border: none;
  color: #836857;
  background-color: rgba(255, 0, 0, 0);
  font-size: 28px;
}
#btnCreditos:hover{
  color: #382d27;
}

#btnAgradecimientos{
  border: none;
  color: #836857;
  background-color: rgba(255, 0, 0, 0);
  font-size: 28px;
}
#btnAgradecimientos:hover{
  color: #382d27;
}
#btnAgradecimientos:hover,
#btnAgradecimientos:focus, /* Aplica el estilo al botón cuando está seleccionado */
.active-button {
  color: #382d27; 
}
/* PAGINA SEMIILLA */

.colorSemilla{
  height: 100vh;
  background-color: #836857;
  min-height: 25vh;

}
@media (max-width: 576px) {
  .colorSemilla {
    max-height: 50vh;
  }
}
.colorSemillaDos{
  background-color: #A69181;
  min-height: 50vh;


}

.txtSemilla{
  margin: 10%;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .txtSemilla {
    font-size: 4rem; /* Tamaño para tabletas */
  }
}

@media (min-width: 1200px) {
  .txtSemilla {
    font-size: 5rem; /* Tamaño para computadoras */
  }
}

.fondoForm{
  padding: 5%;
  background-color: #F1E8D9;
  border-radius: 8px;
  position: relative;
  top: auto;
  right: 10vh;

}
/* Responsive Formulario */
@media (max-width: 576px) {
  .fondoForm {
      
      padding: 5%;
      left: 5vh;
      bottom: 10vh;
      
  }
}
#btnForm{
  border: 1px solid #A69181;
  color: #382d27;
}
/* FINAL DE CSS */
